.plane {
    position: relative;
    top: 40px;
    left: 300px;
    animation: animate-4 15s linear 0.3s;
}

.item-1 {
    position: absolute;
    top: 150px;
    left: 500px;
    width: 400px;
    height: 100px;
    background-color: rgb(132, 0, 255);  
    border-bottom-right-radius: 50px;  
}

.item-2 {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 150px;
    background-color: #fff;
    transform: rotate(45deg);
    transform-origin: right bottom;
}

.item-3 {
    position: absolute;
    top: 100px;
    left: 830px;
    width: 70px;
    height: 50px;
    background-color: rgb(132, 0, 255); 
}
.item-4 {
    position: absolute;
    top: 80px;
    left: 800px;
    width: 80px;
    height: 70px;
    background-color: rgb(132, 0, 255); 
    transform: rotate(-45deg);
    transform-origin: right bottom;
}

.item-5 {
    position: absolute;
    top: 150px;
    left: 550px;
    width: 50px;
    height: 50px;
    background-color:rgb(225, 233, 238);
}

.item-6 {
    position: absolute;
    top: 140px;
    left: 500px;
    width: 100px;
    height: 50px;
    background-color: #fff;
    transform: rotate(-45deg);
}

.item-7 {
    position: absolute;
    top: 80px;
    left: 670px;
    width: 40px;
    height: 90px;
    background-color: rgb(132, 0, 255);
    transform: rotate(35deg); 
}

.item-8 {
    position: absolute;
    top: 70px;
    left: 703px;
    width: 70px;
    height: 35px;
    background-color: rgb(132, 0, 255);
    transform: rotate(-10deg);
}

.item-9 {
    position: absolute;
    top: 70px;
    left: 735px;
    width: 59px;
    height: 45px;
    background-color: #fff;
    transform: translateY(20px) rotate(-26deg);
}

.item-10 {
    position: absolute;
    top: 52px;
    left: 695px;
    width: 90px;
    height: 30px;
    background-color:#fff;
    
}

.item-11 {
    position: absolute;
    top: 170px;
    left: 670px;
    width: 10px;
    height: 10px;
    background-color:#fff;
    border-radius: 50%;
    animation: animate 1s linear .5s infinite;
}

.item-12 {
    position: absolute;
    top: 245px;
    left: 700px;
    width: 70px;
    height: 5px;
    background-color: rgb(132, 0, 255);
    animation: animate-2 5s linear 1s 2;
}


.item-13 {
    position: absolute;
    top: 250px;
    left: 700px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0;
    animation: animate-3 4.5s linear 5s 2;
}

.cloud-1, .cloud-2, .cloud-3 {
    position: relative;
    z-index: 2;
}

.cloud-1 {
    top: 40px;
    left: 200px;
}

.cloud-2 {
    top: 60px;
    left: 500px;
}

.cloud-3 {
    top: 40px;
    left: 800px;
}

.item-14 {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(92, 186, 230);
}

.item-15 {
    position: absolute;
    top: 15px;
    left: 80px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(92, 186, 230);
}

.item-16 {
    position: absolute;
    top: 30px;
    left: 120px;
    width: 80px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(92, 186, 230);
}



@keyframes animate {
    0% {
        background-color:#fff;
    }

    100% {
        background-color: red;
    }
}

@keyframes animate-2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-25deg);
    }

    50% {
        transform: rotate(-55deg);
    }
    75% {
        transform: rotate(-75deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}



@keyframes animate-3 {
    0% {
        opacity: 0;
        top: 245px;
    }

    25% {
        opacity: 1;
        top: 300px;
    }

    50% {
        opacity: 1;
        top: 350px;
    }
    75% {
        opacity: 1;
        top: 450px;
    }
    100% {
        opacity: 1;
        top: 500px;
    }
}

@keyframes animate-4 {
    0% {
        left: 300px;
    }

    25% {
        left: 100px;
    }

    50% {
        left: -100px;
    }
    75% {
        left: -300;
    }
    100% {
        left: -500px;
    }
}




